.fakeScreen {
    background-color: #151515;
    font-family: system-ui-monospaced, monospace;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    text-align: left;
    overflow: auto;
    white-space: pre-wrap;
}
